[submodule "PairExercise.Selector.Jasmine"]
	path = PairExercise.Selector.Jasmine
	url = git@github.com:doobybooby/PairExercise.Selector.Jasmine.git
[submodule "PairExercise.Pixelate.Flex"]
	path = PairExercise.Pixelate.Flex
	url = git@github.com:doobybooby/PairExercise.Pixelate.Flex.git
[submodule "AVAX-Price-Tracker"]
	path = AVAX-Price-Tracker
	url = git@github.com:doobybooby/AVAX-Price-Tracker.git
[submodule "guessing-game"]
	path = guessing-game
	url = git@github.com:doobybooby/guessing-game.git
[submodule "Vanishing-Man"]
	path = Vanishing-Man
	url = git@github.com:doobybooby/Vanishing-Man.git
[submodule "TestFirst-Part-1"]
	path = TestFirst-Part-1
	url = git@github.com:doobybooby/TestFirst-Part-1.git
[submodule "foundations-checkpoint-pt-1"]
	path = foundations-checkpoint-pt-1
	url = https://github.com/doobybooby/foundations-checkpoint-pt-1.git
[submodule "foundations-checkpoint-pt-2"]
	path = foundations-checkpoint-pt-2
	url = git@github.com:doobybooby/foundations-checkpoint-pt-2.git
[submodule "TestFirst-Part-2"]
	path = TestFirst-Part-2
	url = git@github.com:doobybooby/TestFirst-Part-2.git
[submodule "foundations-final-checkpoint"]
	path = foundations-final-checkpoint
	url = git@github.com:doobybooby/foundations-final-checkpoint.git
[submodule "TestFirst-Review-V2"]
	path = TestFirst-Review-V2
	url = git@github.com:doobybooby/TestFirst-Review-V2.git
